.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profile_picture_div {
  display: flex;
  justify-content: center;
}

.profile_picture {
  border-radius: 50%;
  margin: 15px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 2vh;
}

h1,
h2,
h3,
h4 {
  font-family: Raleway;
}

.article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Fira Code' !important;;
    font-size: 16px;
    font-weight: 400;
}

li {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 2vh;
}
a {
    text-decoration: none;
    font-family: 'Fira Code' !important;;
    color: darkslategray;
    padding: 5px;
}

a:hover{
    background-color: #f2f2f2;
    border-radius: 10%;
  }

nav {
    width: 100vw;
    display: flex;
    justify-content: center;
}

ul{
    margin: 0;
    padding: 0;

    display: flex
  }
  
  body{
    margin: 0;
  }

  @media only screen and (max-width: 500px) {
    /*shows elements in a column*/
    ul{
      flex-direction: column;
    }
    
    /* deletes margin on top or bottom of the a tag*/
    li{
      margin: 0;
    }
   /* makes sure that the a tag will take the entire screen*/
    a{
      display: block;
    }
  }